<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.tyrone.rabbitstudy</key>
		<string>RabbitStudy-prod</string>
	</dict>
	<key>signingCertificate</key>
	<string>90A65EA21DD724D80ED3B1C748B87121883F3B0E</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ZB6S7V5DXY</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
